<h3><b>Podcasts about Entertainment:</b></h3>
<br>
<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/3zPKei9f1grZGwSz3yKbEb" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        Literary attrition, Struggling to actually <br>read a book? Why not pretend to be listening<br> to literary attrition? From therapy to vanity, <br>from the rabbit hole to the brotherhood, <br>each episode is built around a theme.
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/7gozmLqbcbr6PScMjc0Zl4" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        Reply All explores stories about the internet: how humans shape it and how the internet shapes them. From the most coveted usernames on Snapchat to a comprehensive history of incels, the details that PJ Vogt and Alex Goldman discovered are so baffling that you’ll be turning the episodes over for weeks. They might even keep you up at night.
      </div>
    </div>
  </div>
</div>

<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/21yjAjzYXD1xCNDad4OdTV" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        Fans who watched Reading Rainbow<br> as children or Star Trek as adults will recognize<br> LeVar Burton's soft, velvety voice and incredible <br>storytelling skills. In LeVar Burton Reads, <br>you can listen to the stories he tells as <br>if he were a hot bath. 
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/6L47MDMO3xuN2XBed7miEI" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        Since starting in 2009, WTF With Marc Maron has become one of the most highly regarded comedy podcasts in the world. Maron starts each episode with a monologue and then goes into seriously impressive interviews with movie stars, comedians and other celebrities. If you've never heard podcasts before, this is a great place to start.
      </div>
    </div>
  </div>
</div>

<hr>
<!-- ---------------------------------------------------------------------------------------------- -->

<h3><b>Podcasts about Politics:</b></h3>
<br>
<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/21X49oNQyL8c6GKmgzjnmo" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        For those who are tired of party politics, <br>try this podcast that does its best to review the <br>week's news from various perspectives. 
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/3IM0lmZxpFAY7CwMuv9H4g" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        A podcast that has always topped the News and Politics charts throughout 2018 is The Daily. With a poignant title, this podcast is another in the podcast family of news gurus The New York Timese offers insights and daily sounds about daily comings and goings from major news events.
      </div>
    </div>
  </div>
</div>

<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/1WErgoXiZwgctkHLzqU6nf" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        There is no doubt that most popular <br>political podcasts tend to a more liberal left. <br>So what do you do if you’re a conservative <br>who carries cards and looks for some <br>informative content for your day?
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/3pXx5SXzXwJxnf4A5pWN2A" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        If we're honest, sometimes all we look for is an explanation of what's going on in the world. If that's you, check out the well-known podcast Today, Explained, which is Vox's “daily explanatory podcast - bringing the biggest news every day with guests, context, radio drama and more.
      </div>
    </div>
  </div>
</div>

<hr>
<!-- ---------------------------------------------------------------------------------------------- -->

<h3><b>Podcasts about Business:</b></h3>
<br>
<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/53B4eaJ7M2E6sufc8Q13v0" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        Hosts Liz Dolan and Rico Gagliano <br>know what it's like to face difficult situations <br>at work, and they have great advice <br>- with a little humor - regardless of the situation <br>in your workplace. 
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/2V0W26AGFwKuIVHbNm40UE" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        John Lee Dumas created the award-winning Entrepreneurs on Fire podcast to help inspire and educate young entrepreneurs. The podcast has already received more than 2,000 interviews with industry heavyweights, such as Seth Godin, Gary Vaynerchuk, Tony Robbins and Tim Ferriss (in addition to the credibility of the outstanding talent, Dumas' podcast sets it apart from the rest in the fact that new episodes are released every day of the week.
      </div>
    </div>
  </div>
</div>

<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/7wjv5MRCXWXImqTFhcufLy" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        Smart passive income offers interviews, <br>strategies and tactics on how to increase profits <br>and expand your online business. If you are <br>interested in learning about ways to create <br>atomic habits, create evergreen sales funnels,<br> buy and sell online businesses, explore niches <br>or increase your presence on YouTube, <br>this will be a great resource for you to enjoy.
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/24QifPSob9PbOE5dPwQzXa" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        The weekly program features discussions and interviews with successful entrepreneurs and innovators and shares their personal stories to help others learn valuable lessons about “developing, launching and sizing disruptive ideas”.
      </div>
    </div>
  </div>
</div>

<hr>
<!-- ---------------------------------------------------------------------------------------------- -->

<h3><b>Podcasts about Sports:</b></h3>
<br>
<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/7I72WbO2GLAnwKJIg95eVZ" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        The Good Sports Podcast is dedicated <br>to answering the big questions that surround <br>sport, development, and all the different ways <br>the two fields can interact: What does<br> good look like? How can we do better? <br>And how can we measure it? We’re learning <br>as we go – and get learning with us.
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/7HbBU8OnB9cdE83xfpvVmH" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        The Sports Performance Podcast is dedicated to all aspects of fitness, sports rehab, and enhancing athletic performance. Featured on the podcast are strength and conditioning coaches, sports physical therapists and industry professionals in the field of helping keeping people stay healthy and active. The Sports Performance Podcast delivers the latest information on preventing injury, relieving pain and enhancing performance.
      </div>
    </div>
  </div>
</div>

<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/7L0OIwF2hNrjauNq8vRCUP" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        The Skip and Shannon: Undisputed <br>Podcast. Skip Bayless, Shannon Sharpe, <br>and Jenny Taft discuss the biggest stories <br>in the world of sports. It's unscripted and <br>unfiltered. Don't miss the television show <br>Monday-Friday at 9:30am ET on FS1.
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/659pdH7WFYgHMUuyg2MTBe" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        NFL.com's "Around the NFL" crew (Gregg Rosenthal, Dan Hanzus, Marc Sessler and Chris Wesseling) break down the latest football news, with a dash of mirth.
      </div>
    </div>
  </div>
</div>

<hr>
<!-- ---------------------------------------------------------------------------------------------- -->

<h3><b>Podcasts about Tech:</b></h3>
<br>
<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/2EQSsoEOeYqptLKCWk1TB7" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        Your first podcast of the week is the <br>last word in tech. Join the top tech pundits in <br>a roundtable discussion of the latest trends <br>in high tech.
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/5P3uXhpfC8kSLVCRRkgGnj" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        The future of energy, transport, sustainability and more, as told by BNEF analysts. Each week, Mark Taylor and Dana Perkins sit down with Bloomberg NEF (BNEF) analysts to uncover the key findings and stories behind their latest research.
      </div>
    </div>
  </div>
</div>

<div class="area">  
  <div class="content">
    <div class="area2">  
      <div class="content2">
        <iframe src="https://open.spotify.com/embed-podcast/show/49pMjBuQRYiAI06jXHAL6V" width="250" height="250"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side2">
        <b>About:</b>
        Discussion on the Future. Weekly <br>interview show with people at the forefront <br>of transformational technologies. Exploring <br>future-tech, futurist ideas and the sociological,<br> moral and philosophical impact of these <br>exponential changes.
      </div>
    </div>
  </div>
  <div class="side">
    <div class="area3">  
      <div class="content3">
        <iframe src="https://open.spotify.com/embed-podcast/show/2qf9enuV6E4dy5jZT8va5Q" width="250" height="250"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="side3">
        <b>About:</b>
        Technology Today Podcast launched in November 2018, offering a new way to listen and learn about the technology, science, engineering and research impacting our lives and changing our world.
      </div>
    </div>
  </div>
</div>